<!-- hide that jumbotron if user doesn't login -->
<div class="jumbotron text-center" ng-if="!main.loggedIn">
	<div>
		<h1>Sign Up</h1>
	</div>
	<div>
		<p>Login to write your story</p>
	</div>
	<a href="/login" class="btn btn-primary">Login</a>
</div>

<div class="row" ng-if="main.loggedIn">
	<div class="col-md-3"></div>
<!-- passing StoryController as a story -->
	<div class="col-md-4" ng-controller="StoryController as story">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">Write your Story</div>
				<div class="panel-body">
<!-- storyCtrl function that createStory() using storyData.content -->
					<form ng-submit="story.createStory()">
						<input class="form-control input-lg" type="text" ng-model="story.storyData.content" placeholder="..." required>
					</form>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">Your Story</div>
<!-- ng-repeat is repeating all the data we having in a database + applying reverse directive to reverse the sotries -->
				<div class="panel-body" ng-repeat="each in story.stories | reverse">
					{{each.content}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>	
</div>