
<!-- calling the controller in user controller --> 
<div class="container" ng-controller="UserCreateController as user">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<h1>Sign Up</h1>
<!-- using function from user controller -->
			<form class="form-signin" method="post" ng-submit="user.signupUser()">
<!-- construct from ng-controller as user + name of object in user controller + name of the corresponding field /api/signup in api.js -->
				<div class="form-group">
					<label for="exampleInputFile">Name: </label>
						<input type="text" class="form-control" name="username" ng-model="user.userData.name">
				</div>
				<div class="form-group">
					<label for="exampleInputFile">Username: </label>
					<input type="text" class="form-control" name="password" ng-model="user.userData.username">
				</div>
				<div class="form-group">
					<label for="exampleInputFile">Password: </label>
					<input type="password" class="form-control" name="password" ng-model="user.userData.password">
				</div>
				<button type="submit" class="btn btn-danger">Singup</button>
			</form>
		</div>
	</div>
</div>